body{
    background-color:#000000;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1{
    color:#b99953;

}

h2 {
    background-color:#66eeee94;
    font-size: 32px;
}



p {
    color:yellow;
}
